<div class="tint-img">
  <%= image_tag('song-banner-2.jpg', class:"background-image", style:"height: 800px;")%>
</div>

<div class="neon-glow-title">
  <p><a href="#">OHriginals</a></p>
</div>

<div class="container" style="padding-left: 7.5%;">
  <div class="media" style="margin-top: 5%;">
    <div class="media-left">
      <%= image_tag('song1.jpg')%>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Coming After You</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <%= image_tag('song4.jpg')%>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Whatever You Like</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <%= image_tag('song3.jpg')%>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Hear You Scream</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <%= image_tag('song2.jpg')%>
    </div>
    <div class="media-body">
      <h4 class="media-heading">I'm Not Sayin'</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <%= image_tag('song5.jpg')%>
    </div>
    <div class="media-body">
      <h4 class="media-heading">COMING SOON</h4>
      <p class="media-info">0:00</p>
    </div>
  </div>
</div>
