<div class="page-content">
  <div class="tint-img">
    <%= image_tag('ins-header.png', class:"gallery-header-img")%>
  </div>
  <div class="gallery-title">
    <p><a href="#">VIDEOS</a></p>
  </div>

  <!-- Carousel Goes Here -->
  <div class="carousel-container">

    <div class="row">
      <div class="row__inner">

        <div class="tile">
          <div class="tile__media">
            <%= image_tag('purple-city.jpg', class:"tile__img") %>
          </div>
          <div class="tile__details">
            <h3 class="tile-header">Video 1</h3>
            <div class="tile__title">
              Test test testttttt.
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <%= image_tag('purple-city.jpg', class:"tile__img") %>
          </div>
          <div class="tile__details">
            <h3 class="tile-header">Video 1</h3>
            <div class="tile__title">
              Test test testttttt.
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <%= image_tag('purple-city.jpg', class:"tile__img") %>
          </div>
          <div class="tile__details">
            <h3 class="tile-header">Video 1</h3>
            <div class="tile__title">
              Test test testttttt.
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <%= image_tag('purple-city.jpg', class:"tile__img") %>
          </div>
          <div class="tile__details">
            <h3 class="tile-header">Video 1</h3>
            <div class="tile__title">
              Test test testttttt.
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <%= image_tag('purple-city.jpg', class:"tile__img") %>
          </div>
          <div class="tile__details">
            <h3 class="tile-header">Video 1</h3>
            <div class="tile__title">
              Test test testttttt.
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
