<div class="row clearfix">
  <div class="col span_6 fwImage">
    <div id="video-gallery" class="royalSlider videoGallery rsDefault">

      <%= image_tag('song1.jpg', class:"rsImg") %>
        <div class="rsTmb">
          <h5>Stanley Piano</h5>
          <span>by Digital Kitchen</span>
        </div>
      </a>

        <%= image_tag('song1.jpg', class:"rsImg") %>
        <div class="rsTmb">
          <h5>Dubstep Dispute</h5>
          <span>by Fluxel Media</span>
        </div>
      </a>
        <%= image_tag('song1.jpg', class:"rsImg") %>
        <div class="rsTmb">
          <h5>The Epic & The Beasts</h5>
          <span>by Sebastian Linda</span>
        </div>
      </a>
      <%= image_tag('song1.jpg', class:"rsImg") %>
        <div class="rsTmb">
          <h5>Barcode Band</h5>
          <span>by Kang woon Jin</span>
        </div>
      </a>
      <%= image_tag('song1.jpg', class:"rsImg") %>
        <div class="rsTmb">
          <h5>Samm Hodges Reel</h5>
          <span>by Animal</span>
        </div>
      </a>
    </div>
  </div>

</div>
</div>

  </div>
 </div>
