<!DOCTYPE html>
<html>
  <head>
    <title>Frank-OH!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container", style="padding-right: 0; position: fixed;">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          &nbsp;
        </div>
      <div class="navbar-center navbar-brand" href="#">
        <%= link_to image_tag('frankoh-logo.png', class:"navbar-brand"), "/" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/pages/ohriginals">MUSIC</a></li>
          <li><a href="/pages/gallery">TOUR</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/pages/videos">VIDEOS</a></li>
          <li><a href="/pages/contact">CONTACT</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
     </nav>
    </div>
    <%= yield %>
      <div class="footer">
        <%= link_to image_tag('facebook.svg', class:"footer-icon"), "https://www.facebook.com/frankohmusic/", target: '_blank' %>
        <%= link_to image_tag('instagram.svg', class:"footer-icon"), "https://www.instagram.com/frankohmusic/?hl=en", target: '_blank' %>
        <%= link_to image_tag('twitter.svg', class:"footer-icon"), "https://twitter.com/frankohmusic?lang=en", target: '_blank' %>
        <%= link_to image_tag('youtube.svg', class:"footer-icon"), "https://www.youtube.com/user/frankohmusic", target: '_blank' %>
        <%= link_to image_tag('soundcloud.svg', class:"footer-icon"), "https://soundcloud.com/frankohmusic", target: '_blank' %>
      </div>
    </div>
  </body>
</html>
